{% extends "smallhead.html" %}
{% block title %}Tags{% endblock %}
{% block primary %}

{% include "includes/search_bar.html" %}

{% load tag_cloud %}
<p id="tagcloud">{% tag_cloud %}</p>

{% endblock %}

{% block secondary %}
<div class="metabox">
You can view the intersection of up to three tags by navigating to <samp>/tags/tag1+tag2/</samp>.

<h3>Archive by year</h3>
<p>
    {% for year in years_with_content reversed %}
        <a href="/{{ year|date:"Y" }}/">{{ year|date:"Y" }}</a>{% if not forloop.last %} / {% endif %}
    {% endfor %}
</p>
</div>
{% endblock %}

